  body{
            background-color: hsl(0, 0%, 98%);
            padding-top: 70px ;
      margin: 0;
            
        }
        *{
            font-family:'Poppins';
            color: hsl(234, 12%, 34%);
            box-sizing: border-box;
        }
.head{
    width: 100%;
    color: red;
    text-align:center; 
}
        .header1{
    
display: inline-block;
            width: 30em;
}
        
        h1{font-weight: 200;
           
        }
        h1 span{
            font-weight: 600;
        }
        h3{
            font-weight: 600;
        }
        .header1 >span{
            font-weight: 200;
       }
        .content{
            margin: 10px;
            width:auto;
            text-align: center;
            padding: 35px;
            text-transform: capitalize;
            
            letter-spacing:normal;
            
        }
         article> div{
            display: inline-block;
            vertical-align: middle;
             text-align: left;
             font-weight: 200;
            font-size: 15px;
        }
        
        .col{
            background-color: inherit;
        }
        

        
        .TopRedBorder{
            border-top:5px solid hsl(0, 78%, 62%);
            
        }
        
        .TopCyanBorder{
            border-top:5px solid hsl(180, 62%, 55%);
           

        }
        .TopOrangeBorder{
            border-top:5px solid hsl(34, 97%, 64%);
            

        }
        .TopBlueBorder{
            border-top:5px solid  hsl(212, 86%, 64%); 
            
        }
        .card{
            margin: 30px 14px;
            height: 250px;
            width: 25em;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 2px 2px 25px -15px  hsl(229, 6%, 66%);
            background-color: white;


        }
        
        .CardImg{
            position: absolute;bottom: 20px;right: 20px
        }


@media only screen and (max-width: 1300px) and (min-width:1000px) {
    .card{
        width:18em;
    }
}
@media only screen and (max-width: 1000px)
 {
    
    .col .card:first-child{
        margin-bottom: -15px;
    }
    
    .col .card:nth-child(2){
        margin-top: 75px;
    }
     
    .header1{
        color: red;
        padding: 3em 2em;
    }
    
    .text{
        font-size: 20px;
    }
    
    article>div{
        display: block;
        margin: auto;
        text-align: center;
        padding: 0;
    }
    
    body{
        text-align: center;
    }
    
    .content{
        display: inline-block;
        padding: 2em;
        width: inherit;
        
    }
    
    .card{
        display: inline-block;
        width: 80%;
        text-align: left;
        

    }

}

@media only screen and (max-width:550px){
 /*  .text{
        font-size: 0.7em;
    }
    
    .header1{
        color: red;
        padding: 3em 2em;
    }
    */
    .col .card:first-child{
        margin-bottom:-1.5vw ;
    }
    
    .col .card:nth-child(2){
        margin-top: 10vw;
    }
  .header1 {

      max-width: 100vw;
      padding: 1.5em 1em;
    }
    h1{
        font-size: 5.5vw;
    }
    .header1>span{
        font-size: 4.5vw;
    }
    .content{
        padding: 0;
        margin: 0;
    }
    .card{
        
        font-size: 3.5vw;
        
        max-width: 80vw;
        max-height: 66vw;
        margin: 4.25vw 0;
    }
    .CardImg{
        width: 10vw;
    }
    body{
        padding-top: 1.5em;
    }
    
}

